<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Etsy</title>
	<link rel="stylesheet" href="style/main.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
	<header>
		<div class="header-container">
			<span class="etsy-heading">Etsy</span>
			<input value="Pocketwatches" />
		</div>
		<select class="dropdown">
			<option>Relevance</option>
			<option>Highest Price</option>
			<option>Lowest Price</option>
		</select>

	</header>

	<script src="script/bower_components/jquery/dist/jquery.js"></script>
	<script src="script/bower_components/underscore/underscore.js"></script>

	<div class="results-list">
	</div>

	<script type="text/template" data-template-name="results-item">
		<span class="listing">
			<span class="image">
				<a href="<% url %>">
					<img src="<% image %>" />
				</a>
			</span>
			<p>
				<% title %>
			</p>
			<span class="shop">
				<% shop %>
			</span>
			<span class="cost">
				<% cost %>
				<% currency %>
			</span>
		</span>
	</script>

	<script type="text/javascript" src="script/data.js"></script>
	<script type="text/javascript" src="script/main.js"></script>

</body>
</html>
